body { font-family: 'Droid Serif'; }
h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
ul li { padding: 5px 0px }
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.written-text {
  font-family: 'Covered By Your Grace', cursive;
  font-size: larger;
  text-indent: 10%;
  line-height: 75%;
  }
.red-text {  color: red }
.green-text {  color: green }
.blue-text { color: blue}
.purple-text {color: purple}

.column:first-of-type {float:left}
.column:last-of-type {float:right}

.two-column .column:first-of-type {width: 50%}
.two-column .column:last-of-type {width: 50%}

table.quadrants{
    border-collapse: collapse;
    height: 80%;
    width: 100%;
    font-family: 'Covered By Your Grace', cursive;
}

table.quadrants tr {
    background: #FFF;
    height: 35%;
}

table.quadrants td{
    width: 45%;
    border: 1px solid black;
    #font-size: smaller;
}
table.quadrants ul{
    margin-top: 0;
    margin-bottom: 0;
}
table.quadrants li{
    padding: 0;
    text-align: left;
}

table.quadrants td.selected{
    background-color: cyan;
}

table.quadrants td.titles{
    width: 10%;
    border: 0;
}

table.quadrants tr.titles{
    height: 10%;
}

table.quadrants tr.titles td{
    border: 0;
}

table.quadrants td.titles div {
    transform: rotate(90deg);
    white-space: nowrap;
}

table.quadrants tr.titles,
table.quadrants td.titles div {
    color: red;
    font-size: xx-large;
    text-align: center;
}